[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
boto3 = "*"
pycryptodome = "*"
aws-encryption-sdk = "*"

[requires]
python_version = "3.8"
